---
import SectionContainer from '@/components/SectionContainer.astro'
import type { Preload } from '@/interfaces/preload'
import { getI18N } from '@/languages/index'
import Layout from '@/layouts/Layout.astro'
import { articlesService } from '@/services/articles'

const { id } = Astro.params
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const stories = articlesService()
const article = stories.find((article) => article.pageTitle === id)

if (!article || article === undefined) {
	return Astro.redirect('/404')
}

const preloadImages: Preload[] = [
	{
		as: 'image',
		href: article.cover,
		type: 'image/webp',
		rel: 'preload',
	},
]
---

<Layout
	title=`${article?.title} - RikiRilis' articles`
	description=`${article?.description} | Author: ${article?.author} | Tags: ${article?.tags.join(' ')}`
	canonical=`https://rikirilis.com/articles/${article?.pageTitle}/`
	preload={preloadImages}
>
	<img
		class='parallax absolute top-0 w-full translate-y-0 bg-cover bg-fixed bg-center opacity-5'
		src={article?.cover}
		alt=`RikiRilis' article ${article?.title}`
		style='mask-image: linear-gradient(black 20%, transparent 80%);'
	/>

	<SectionContainer>
		<div class='flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12'>
			<header>
				<h2
					class='text-xl font-extrabold text-accent sm:text-3xl'
					transition:name=`article-${article?.pageTitle}-title`
				>
					{article?.title}
				</h2>
			</header>

			<div
				class='mt-8 flex w-full flex-col gap-8'
				transition:name=`article-${article?.pageTitle}-content`
			>
				{
					article?.content.map((section) => (
						<div class='flex flex-col gap-2'>
							<h1 class='text-xl font-bold text-primary'>{section.title}</h1>

							<div id='articles-paragraphs' class='flex flex-col gap-4'>
								{section.paragraphs.map((paragraph) => (
									<p
										class={`${paragraph.startsWith('"') && paragraph.endsWith('"') ? 'text-right' : 'text-left'} text-pretty text-primary/80`}
									>
										{paragraph}
									</p>
								))}
							</div>
						</div>
					))
				}
			</div>

			<footer
				class='mt-8 flex w-full flex-col items-end justify-center text-xs italic text-secondary'
			>
				<span>
					{article?.timestamp}
				</span>

				<span>
					{i18n.AUTHOR}: {article?.author} | {i18n.LANGUAGE}: {article?.lang}
				</span>
			</footer>
		</div>
	</SectionContainer>
</Layout>

<script>
	import { $, $$ } from '@/libs/dom-selector'

	document.addEventListener('astro:page-load', () => {
		const paragraphs = $$('#articles-paragraphs p')

		paragraphs.forEach((paragraph) => {
			var text = paragraph.innerHTML
			var textItalic = text.replace(/"([^"]*)"/g, '<b><i>"$1"</i></b>')
			paragraph.innerHTML = textItalic
		})

		window.addEventListener('scroll', () => {
			const parallax = $('.parallax')
			const offset = window.scrollY
			if (parallax) parallax.style.transform = `translateY(${offset * 0.5}px)`
		})
	})
</script>
