---
import { getI18N } from '@/languages/index.ts'
import { footerLinks } from '@/libs/consts'
import Divider from './Divider.astro'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const links = footerLinks()
---

<footer class='flex w-full items-center justify-center bg-black'>
	<div class='flex w-full max-w-4xl flex-col px-4 py-10 sm:w-11/12 sm:px-6 md:w-8/12 lg:px-8'>
		<Divider />

		<div
			class='flex w-full flex-col-reverse items-center gap-4 md:justify-between md:gap-2 lg:flex-row lg:items-center'
		>
			<a
				href='https://fotoestudioelchevere.com/'
				class='order-1 flex max-w-16 items-center justify-center lg:order-none'
			>
				<img
					src='/logo.svg'
					class='w-full'
					alt='Logo Foto Estudio El Chévere'
					loading='lazy'
					decoding='async'
				/>
			</a>
			<p
				class='max-w-md text-pretty text-center text-sm text-slate-600 lg:text-start dark:text-primary'
			>
				&#169; 2025 RikiRilis. {i18n.FOOTER_TXT_1}
				<a
					rel='noopener noreferrer'
					href='https://rikirilis.com'
					class='font-bold text-accent transition-colors active:text-slate-700 active:underline sm:hover:text-slate-700 sm:hover:underline dark:active:text-slate-300 dark:sm:hover:text-slate-300'
					>RikiRilis</a
				>
				(Rikelvi Capellán García) {i18n.FOOTER_TXT_2}
				<a
					rel='noopener noreferrer'
					href='https://astro.build'
					target='_blank'
					class='font-bold text-accent transition-colors active:text-slate-700 active:underline sm:hover:text-slate-700 sm:hover:underline dark:active:text-slate-300 dark:sm:hover:text-slate-300'
					>Astro</a
				>, <a
					rel='noopener noreferrer'
					href='https://tailwindcss.com'
					target='_blank'
					class='font-bold text-accent transition-colors active:text-slate-700 active:underline sm:hover:text-slate-700 sm:hover:underline dark:active:text-slate-300 dark:sm:hover:text-slate-300'
					>Tailwind CSS</a
				>
				{i18n.FOOTER_TXT_3}
				<a
					rel='noopener noreferrer'
					href='https://vercel.com'
					target='_blank'
					class='font-bold text-accent transition-colors active:text-slate-700 active:underline sm:hover:text-slate-700 sm:hover:underline dark:active:text-slate-300 dark:sm:hover:text-slate-300'
					>Vercel</a
				>.
			</p>

			<ul class='flex flex-row items-center gap-x-6'>
				{
					links.map((link) => (
						<li>
							<a
								target='_blank'
								href={link.href}
								rel='noopener noreferrer'
								class='inline-block size-8 text-secondary transition-colors hover:scale-125 active:text-accent motion-safe:transition motion-reduce:hover:scale-100 sm:hover:text-accent'
							>
								<link.icon class='size-full motion-reduce:duration-0' />
							</a>
						</li>
					))
				}
			</ul>
		</div>

		<Divider />

		<div class='w-full'>
			<ul class='flex w-full flex-row items-center justify-center gap-x-2'>
				<li>
					<a
						href='https://rikirilis.com/privacy/'
						rel='noopener noreferrer'
						target='_blank'
						class='text-sm text-secondary/70 transition-colors hover:text-secondary'
						>{i18n.PRIVACY}</a
					>
				</li>
				<li class='text-sm text-secondary/70'>|</li>
				<li>
					<a
						href='https://rikirilis.com/terms/'
						rel='noopener noreferrer'
						target='_blank'
						class='text-sm text-secondary/70 transition-colors hover:text-secondary'>{i18n.TERMS}</a
					>
				</li>
			</ul>
		</div>
	</div>
</footer>
