---
import GitHub from '@/icons/GitHub.astro'
import Send from '@/icons/Send.astro'
import { getI18N } from '@/languages/index.ts'
import LinkButton from './LinkButton.astro'

interface Props {
	title: string
	description: string
	imgUrl: string
	projectUrl: string
	tags: {
		name: string
		class: string
		iconColor: string
		icon: any
	}[]
	gitCodeUrl: string
	alt: string
}

const { title, description, imgUrl, projectUrl, tags, gitCodeUrl, alt } = Astro.props
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<article
	class='fade-up-anim group flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0'
>
	<div class='md:1/2 w-full'>
		<div
			class='relative col-span-6 row-span-5 flex transform flex-col items-center gap-8 overflow-clip rounded-xl border shadow-xl transition duration-500 ease-in-out dark:border-slate-800 sm:hover:border-slate-300 sm:hover:bg-slate-300/50 sm:group-hover:-translate-y-1 sm:group-hover:translate-x-1 sm:group-hover:shadow-2xl dark:sm:hover:border-slate-700 dark:sm:hover:bg-slate-800/50'
		>
			<img
				src={imgUrl}
				alt={alt}
				width='1280'
				height='720'
				decoding='async'
				loading='lazy'
				class='h-56 w-full object-cover object-top transition duration-500 sm:h-full sm:scale-110 sm:group-hover:scale-105'
			/>
		</div>
	</div>

	<div class='flex w-full flex-col gap-2 md:max-w-lg'>
		<h3 class='text-2xl font-bold text-slate-800 dark:text-slate-200'>
			{title}
		</h3>

		<ul class='mb-2 flex flex-row gap-x-2'>
			{
				tags.map((tag) => (
					<li>
						<span class={`flex gap-x-2 rounded-full px-2 py-1 text-xs ${tag.class}`}>
							<tag.icon class={`size-4 ${tag.iconColor}`} />
							{tag.name}
						</span>
					</li>
				))
			}
		</ul>

		<p class='dark:text-primary mt-2 h-full text-pretty text-slate-600'>
			{description}
		</p>

		<footer class='mt-4 flex h-fit w-full items-end justify-start gap-x-4'>
			<LinkButton href={projectUrl}>
				<Send class='size-6' />
				{i18n.SQUINT}
			</LinkButton>

			<LinkButton href={gitCodeUrl}>
				<GitHub class='size-6' />
				{i18n.CODE}
			</LinkButton>
		</footer>
	</div>
</article>
