---
import RightArrow from '@/icons/RightArrow.astro'
import { getI18N } from '@/languages/index'

interface Props {
	author: string
	description: string
	lang: string
	pageTitle: string
	timestamp: string
	title: string
}

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const { author, description, lang, pageTitle, timestamp, title } = Astro.props
---

<a
	href=`/stories/${pageTitle}`
	data-story-id={pageTitle}
	title=`${i18n.READ} → ${title}`
	class='bg-primary/5 active:bg-primary/15 sm:hover:dark:bg-primary/15 group flex w-full items-center justify-between gap-2 rounded-xl px-4 py-2 transition-all ease-in-out active:scale-[0.99] active:shadow-md sm:cursor-pointer sm:hover:scale-[0.99] sm:hover:shadow-md'
>
	<div class='overflow-hidden'>
		<h1
			class='text-accent text-base font-bold sm:text-lg'
			transition:name=`story-${pageTitle}-title`
		>
			{title}
		</h1>

		<h2
			class='text-primary overflow-hidden text-ellipsis whitespace-nowrap text-nowrap text-xs sm:text-sm'
			transition:name=`story-${pageTitle}-content`
		>
			{description}
		</h2>

		<p class='text-secondary mt-4 text-[10px] italic sm:text-xs'>
			{timestamp}
		</p>

		<p class='text-secondary text-[10px] italic sm:text-xs'>
			{i18n.AUTHOR}: {author} | {i18n.LANGUAGE}: {lang}
		</p>
	</div>

	<div>
		<RightArrow class='sm:group-hover:text-accent text-primary size-8 transition-colors' />
	</div>
</a>
