---
import { getI18N } from '@/languages/index'
import Layout from '@/layouts/Layout.astro'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout
	title=`${i18n.PRIVACY} | RikiRilis`
	description='This is the privacy policy for all the projects made by RikiRilis.'
	canonical='https://rikirilis.com/projects/privacy/'
>
	<article class='flex w-full flex-col items-center py-20'>
		<div class='flex w-full flex-col items-center sm:w-11/12 md:w-8/12'>
			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-accent text-2xl font-bold'>{i18n.PRIVACY}</p>
				<p class='text-primary mb-2 text-sm font-semibold dark:text-slate-600'>
					{i18n.LAST_UPDATED}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_1}
				</p>
			</section>

			<h2 class='text-primary mb-2 font-semibold italic dark:text-slate-600'>
				{i18n.FOR_APPS}
			</h2>
			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					1. {i18n.INFORMATION_WE_COLLETC}
				</p>
				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					1.1 {i18n.LOGIN_INFORMATION}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_2}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					1.2 {i18n.APP_INFORMATION}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_3}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					2. {i18n.USE_OF_INFORMATION}
				</p>
				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					2.1 {i18n.PERSONALIZATION_IMPROVEMENT}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_4}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					2.2 {i18n.COMMUNICATION}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_5}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					2.3 {i18n.ANALYSIS_AND_STATISTICS}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_6}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					3. {i18n.SHARING_INFORMATION}
				</p>
				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					3.1 {i18n.TRUSTED_THIRD_PARTIES}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_7}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					3.2 {i18n.LEGAL_COMPLIANCE}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_8}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					4. {i18n.DATA_SECURITY}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_9}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					5. {i18n.YOUR_RIGHTS}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_10}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					6. {i18n.CHANGES_POLICY}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_APP_P_11}
				</p>
			</section>

			<h2 class='text-primary mb-2 font-semibold italic dark:text-slate-600'>
				{i18n.FOR_GAMES}
			</h2>
			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					1. {i18n.INFORMATION_WE_COLLETC}
				</p>
				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					1.1 {i18n.LOGIN_INFORMATION}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_1}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					1.2 {i18n.GAME_INFORMATION}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_2}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					2. {i18n.USE_OF_INFORMATION}
				</p>
				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					2.1 {i18n.PERSONALIZATION_IMPROVEMENT}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_3}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					2.2 {i18n.COMMUNICATION}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_4}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					2.3 {i18n.ANALYSIS_AND_STATISTICS}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_5}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					3. {i18n.SHARING_INFORMATION}
				</p>
				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					3.1 {i18n.TRUSTED_THIRD_PARTIES}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_6}
				</p>

				<p class='mt-2 font-semibold text-slate-700 dark:text-slate-300'>
					3.2 {i18n.LEGAL_COMPLIANCE}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_7}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					4. {i18n.DATA_SECURITY}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_8}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					5. {i18n.YOUR_RIGHTS}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_9}
				</p>
			</section>

			<section
				class='fade-up-anim bg-primary/10 dark:bg-primary/5 mb-6 w-full max-w-4xl rounded-xl px-5 py-4 shadow-slate-950'
			>
				<p class='text-xl font-bold text-slate-800 dark:text-slate-200'>
					6. {i18n.CHANGES_POLICY}
				</p>
				<p class='dark:text-primary text-slate-600'>
					{i18n.PRIVACY_GAMES_P_10}
				</p>
			</section>
		</div>
	</article>
</Layout>
