---
import Footer from '@/components/Footer.astro'
import GoToTop from '@/components/GoToTop.astro'
import Header from '@/components/Header.astro'
import SEO from '@/components/SEO.astro'
import Toast from '@/components/ui/Toast.astro'
import type { Preload } from '@/interfaces/preload'
import '@fontsource-variable/onest'
import '@fontsource/ubuntu'
import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang='en' translate='no'>
	<head>
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={title}
		/>
		<ViewTransitions />
	</head>
	<body class='relative overflow-x-hidden'>
		<div
			class='absolute bottom-0 top-0 z-[-2] min-h-screen w-full bg-slate-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(203,213,225,0.5),rgba(241,245,249,0.9))] dark:bg-slate-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(34,211,238,0.2),rgba(241,245,249,0))]'
		>
		</div>

		<GoToTop />
		<Toast />

		<Header />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: 'Onest Variable', 'Ubuntu', system-ui, sans-serif;
		background-color: #f1f5f9;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	::-webkit-scrollbar-thumb {
		background-color: #0891b2;
	}

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background: #f1f5f9;
	}

	.dark {
		background-color: #020617;

		::-webkit-scrollbar-track {
			background: #020617;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	.fade-up-anim {
		animation: fade-up-animation linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	@keyframes fade-up-animation {
		0% {
			opacity: 0;
			translate: 0 50px;
			scale: 0.7;
		}

		100% {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}

	.fade-left-anim {
		animation: fade-left-animation linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	@keyframes fade-left-animation {
		0% {
			opacity: 0;
			translate: 50px 0;
			scale: 0.7;
		}

		100% {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}

	.fade-right-anim {
		animation: fade-right-animation linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	@keyframes fade-right-animation {
		0% {
			opacity: 0;
			translate: -50px 0;
			scale: 0.7;
		}

		100% {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}
</style>
